@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;0,900;1,800&display=swap');
*{
  margin: 0%;
  padding: 0%;
  
}
body{
  background: #ddbff4;
}
nav{
  background: #a659bb;
  font-weight: 900;
color: white;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
}